#logo {
    margin-left: 200px;
    margin-right: 500px;
}

body {
    background-color: #c4c3c2;
   /* margin-left: 20px;*/
   font-family: 'Roboto Condensed', sans-serif;
}

#main-pic {
    max-width: 100%;
    height: auto;
}

.navbar {
      margin-bottom: 10px;
  }

.carousel {
    margin-bottom: 50px;
}

.carousel-caption {
    position: absolute;
    bottom: 80%;
    left: 10%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }


/*gallery Home page*/
#gallery {
    margin: 0px 10px 0px 10px;
  }
  

/* columns for the text my top 3 countries*/
#col1{
    height:100px;
}
    
#col2{
    height:100px;
}

/*columns below the mini gallery*/
#col3{
    height:200px;
    margin: 50px 0px 25px 0px;   
}
    
#col4{
    height:200px;
    margin: 25px 0px 25px 0px;

}
  
/*p from Contact page*/
.contact-us-p {
    color: rgb(0, 0, 0);
    text-indent: 30px;
    text-transform: uppercase;
  }

/*form Contact page*/
.form-group {
    margin-right: 15em;
    margin-left: 15em;
}

/*Tutorials page*/
#video {
    text-align:center;
    width: auto;
    height:300px;
    float:center;
    margin-left: auto;
    margin-right: auto;
    display: block
}

/*Tutorials page*/
#video {
    text-align:center;
    width: auto;
    height:300px;
    float:center;
    margin-left: auto;
    margin-right: auto;
    display: block
}

/*Gallery page*/
#gal {
    margin: 25px 25px 25px 25px;
}

#footer {
    position: fixed;
    padding: 0px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 20px;
    background: #c4c3c2;
}
